<mat-toolbar color="primary" class="mat-elevation-z6">
  <span routerLink="/" class="app-name">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    &nbsp;
    NgWeatherApp<mat-icon>wb_sunny</mat-icon></span>
  <a href="https://github.com/tejassavaliya/ngx-weather-app" target="_blank" mat-button class="example-icon">
    <mat-icon svgIcon="github"></mat-icon>&nbsp;&nbsp;GitHub
  </a>
</mat-toolbar>
<mat-progress-bar *ngIf="loading$ | async" color="accent" mode="indeterminate"></mat-progress-bar>

<router-outlet></router-outlet>
