@import 'variables';

:host {
  display: flex;
  flex-direction: column;
}

.main-header {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 5px;
}

.sub-header {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px;
}

.city-cards {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 10px;
  padding: 10px 0;

  @media (max-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $screen-sm) {
    grid-template-columns: 1fr;
  }
}

app-city-weather-card {
  box-sizing: border-box;
  cursor: pointer;
  width: 90%;
}
