<div class="date-time-wrapper">
  <time class="date">{{ weather?.dt_txt | date : 'MMM d' }}</time>
  <time class="time">{{ weather?.dt_txt | date: 'shortTime' }}</time>
</div>

  <app-weather-condition-icon [weatherCondition]="weather.weather[0]" size="2x">
    <span class="description">
      {{weather.weather[0].description}}
    </span>
  </app-weather-condition-icon>

  <span class="temperature">{{ weather.main.temp  - 273.15 | number:'1.0-0' }}°</span>
  <span class="sea-level"><mat-icon>waves</mat-icon> {{ weather.main.sea_level / 10 }} Meter</span>
  <div class="clouds">
    <mat-icon>cloud_queue</mat-icon>
    <span class="value">{{ weather.clouds.all }}%</span>
  </div>
